<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8TBomd4Cd49uVlPRUJfGAIG_81nUhfSw</string>
	<key>GCM_SENDER_ID</key>
	<string>1005344493264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BeZooCare.app</string>
	<key>PROJECT_ID</key>
	<string>be-zoo-care</string>
	<key>STORAGE_BUCKET</key>
	<string>be-zoo-care.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005344493264:ios:b73f8f86591c71c5fd18d5</string>
</dict>
</plist>